[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QMLWidget05
Exec=/opt/QMLWidget05/bin/QMLWidget05
Icon=QMLWidget0564
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
